cycler==0.10.0
Django==2.2.6
filterpy==1.4.5
image==1.5.27
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.3
opencv-contrib-python==4.1.1.26
opencv-python==4.1.1.26
Pillow==6.2.1
pygame==1.9.6
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.3
scipy==1.3.1
six==1.12.0
sqlparse==0.3.0
whois==0.9.4
